<?php

/**
 * This file is part of the Edoger framework.
 *
 * @author    Qingshan Luo <shanshan.lqs@gmail.com>
 * @copyright 2017 - 2018 Qingshan Luo
 * @license   GNU Lesser General Public License 3.0
 */

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony'                                  => true,
        'binary_operator_spaces'                    => ['default' => 'align_single_space_minimal'],
        'declare_equal_normalize'                   => ['space' => 'single'],
        'phpdoc_no_empty_return'                    => false,
        'phpdoc_annotation_without_dot'             => false,
        '@Symfony:risky'                            => true,
        'is_null'                                   => false,
        'php_unit_construct'                        => false,
        'php_unit_dedicate_assert'                  => false,
        'silenced_deprecation_error'                => false,
        'protected_to_private'                      => false,
        'ternary_to_null_coalescing'                => true,
        'align_multiline_comment'                   => ['comment_type' => 'all_multiline'],
        'array_syntax'                              => ['syntax' => 'short'],
        'combine_consecutive_issets'                => true,
        'combine_consecutive_unsets'                => true,
        'compact_nullable_typehint'                 => true,
        'linebreak_after_opening_tag'               => true,
        'no_multiline_whitespace_before_semicolons' => true,
        'no_php4_constructor'                       => true,
        'no_short_echo_tag'                         => true,
        'no_unreachable_default_argument_value'     => true,
        'ordered_imports'                           => [
            'importsOrder'  => ['const', 'class', 'function'],
            'sortAlgorithm' => 'length',
        ],
        'phpdoc_add_missing_param_annotation' => ['only_untyped' => false],
        'phpdoc_order'                        => true,
    ])
    ->setRiskyAllowed(true)
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->in(__DIR__.'/src')
            ->in(__DIR__.'/tests')
            ->append([__FILE__])
    );
