# For Composer
vendor/
composer.lock
composer.phar

# For Sublime Text 3 CTags Plugin
.tags
.tags_sorted_by_file

# For Sublime Text 3 SFTP Plugin
sftp-config.json

# For PHPUnit
phpunit.xml
coverage.xml

# For Mac
.DS_Store
